section.main-content
  nav.content-tabs
    ul
      li
        a(href='#') Detail
      li
        a(href='#').active Content
      li
        a(href='#') Ads
      li
        a(href='#') Data capture
      li
        a(href='#') Look and feel
          
  .order-switcher
    p Present in random order
    input(type='checkbox' name='switch-list-order').switch-list-order
    label(for='switch-list-order')
      
  .main-content-inner  
    .content-note
      p Embed at least 2 players*
      
    ul.players-list
      li
        figure
          img(src='./img/derozan.png').player-photo
          figcaption.player-name DeMar DeRozan
      li
        figure
          img(src='./img/curry.png').player-photo
          figcaption.player-name Stephen Curry
      li
        figure
          img(src='./img/durant.png').player-photo
          figcaption.player-name Kevin Durant
      li
        figure
          img(src='./img/harden.png').player-photo
          figcaption.player-name James Harden
      li
        figure
          img(src='./img/jordan.png').player-photo
          figcaption.player-name DeAndre Jordan
      li
        figure
          img(src='./img/westbrook.png').player-photo
          figcaption.player-name Russell Westbrook
      li
        figure
          img(src='./img/parsons.png').player-photo
          figcaption.player-name Chandler Parsons
      li
        figure
          img(src='./img/faried.png').player-photo
          figcaption.player-name Kenneth Faried
      li
        figure
          img(src='./img/hayward.png').player-photo
          figcaption.player-name Gordon Hayward
      li
        figure
          img(src='./img/conley.png').player-photo
          figcaption.player-name Mike Conley
      li
        figure
          img(src='./img/howard.png').player-photo
          figcaption.player-name Dwight Howard
      li
        figure
          img(src='./img/placeholder.png').player-photo
          figcaption.player-name Trey Burke
      li
        a(href='#').add-player-form
