doctype html

html
  head
    meta(charset='utf-8')
    title Home Task
    link(rel='stylesheet' href='css/main.css')
    
  body
    include template/sidebar.pug
    include template/main-content.pug
    
    script(src='js/main.js')
